<button type="button" class="btn btn-outline-secondary bg-light-green-blue change-password min-w-120 mb-2 me-md-4 me-lg-4"
        data-bs-toggle="modal" data-bs-target="#changePasswordModal">Đổi mật khẩu
</button>
<form [formGroup]="changePasswordFormGroup" (ngSubmit)="changePassword()">

  <div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
      <div class="modal-content" style="border-color: #00b894;">
        <div class="modal-header" style="background-color: #00b894;">
          <h5 class="modal-title" id="changePasswordModalLabel" style="color: #fff;">Đổi mật khẩu</h5>
        </div>
        <div class="modal-body">
          <!-- Nội dung form đổi mật khẩu -->
          <div class="mb-3">
            <label for="presentPassword" class="form-label">Mật khẩu hiện tại:<sup
              class="text-danger fw-bold">*</sup></label>
            <input #presentPassword formControlName="presentPassword" type="password" class="form-control" id="presentPassword"
                   [ngClass]="changePasswordFormGroup.controls.presentPassword?.invalid?'is-invalid':'is-valid'">
            <div class=" text-danger p-2 m-0 " role="alert"
                 *ngIf="changePasswordFormGroup.controls.presentPassword?.errors?.required && changePasswordFormGroup.controls.presentPassword?.touched">
              Không được để trống!
            </div>
          </div>
          <div class="mb-3">
            <label for="newPassword" class="form-label">Mật khẩu mới:<sup
              class="text-danger fw-bold">*</sup></label>
            <input #newPassword formControlName="newPassword" type="password" class="form-control" id="newPassword"
                   [ngClass]="changePasswordFormGroup.controls.newPassword?.invalid?'is-invalid':'is-valid'">
            <div class=" text-danger p-2 m-0 " role="alert"
                 *ngIf="changePasswordFormGroup.controls.newPassword?.errors?.pattern && changePasswordFormGroup.controls.newPassword?.touched">
              Mật khẩu phải có ít nhất 1 ký tự số, 1 ký tự in hoa và 1 ký tự thường.
            </div>
            <div class=" text-danger p-2 m-0 " role="alert"
                 *ngIf="presentPassword.value === newPassword.value && changePasswordFormGroup.controls.newPassword?.dirty ">
              Mật khẩu mới và mật khẩu cũ không được trùng nhau!
            </div>
            <div class=" text-danger p-2 m-0 " role="alert"
                 *ngIf="changePasswordFormGroup.controls.newPassword?.errors?.required && changePasswordFormGroup.controls.newPassword?.touched">
              Không được để trống!
            </div>
            <div class=" text-danger p-2 m-0 " role="alert"
                 *ngIf="changePasswordFormGroup.controls.newPassword?.errors?.maxlength && changePasswordFormGroup.controls.newPassword?.touched">
              Mật khẩu quá dài!
            </div>
            <div class=" text-danger p-2 m-0 " role="alert"
                 *ngIf="changePasswordFormGroup.controls.newPassword?.errors?.minlength && changePasswordFormGroup.controls.newPassword?.touched">
              Mật khẩu quá ngắn!
            </div>
          </div>
          <div class="mb-3">
            <label for="confirmPassword" class="form-label">Xác nhận mật khẩu mới:<sup
              class="text-danger fw-bold">*</sup></label>
            <input #confirmPassword formControlName="confirmPassword" type="password" class="form-control" id="confirmPassword"
                   [ngClass]="changePasswordFormGroup.controls.confirmPassword?.invalid?'is-invalid':'is-valid'">
            <div class=" text-danger p-2 m-0 " role="alert"
                 *ngIf="changePasswordFormGroup.controls.confirmPassword?.errors?.required && changePasswordFormGroup.controls.confirmPassword?.touched">
              Không được để trống!
            </div>
            <div class=" text-danger p-2 m-0 " role="alert"
                 *ngIf="confirmPassword.value !== newPassword.value && changePasswordFormGroup.controls.confirmPassword?.dirty ">
              Xác nhận mật khẩu không trùng khớp với mật khẩu mới!
            </div>
          </div>
        </div>
        <div class="modal-footer" style="background-color: #00b894;">
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"
                  style="color: #fff;">Đóng
          </button>
          <button type="submit" class="btn btn-outline-success"  style="color: #fff;"
                  [disabled]="changePasswordFormGroup.invalid" data-bs-dismiss="modal">Lưu thay đổi
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
