.fs-16px {
  font-size: 16px;
}

/* Pagination - Start */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s;
}

.pagination a:hover {
  background: #00b894 !important;
  color: #fff;
  opacity: .8;
}

.pagination a:hover:not(.active) {
  background: #00b894 !important;
  opacity: .8;
}

.pagination a.paginationItem.active {
  background: #00b894 !important;
  color: #fff;
}
/* Pagination - End */
