<div class="home">
  <div class="slide">
    <div class="container-fluid">
      <div class="row mt-2">
        <div class="col-lg-10 slide">
          <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                      class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                      aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                      aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active overflow-y-hidden" style="height: 400px" data-bs-interval="3000">
                    <img src="assets/images/banner-1.png" class="d-block w-80"
                         style="width: 100%; height: auto" alt="events">
                  </div>
                  <div class="carousel-item overflow-y-hidden" style="height: 400px" data-bs-interval="3000">
                    <img src="assets/images/banner-3.png" class="d-block w-80"
                         style="width: 100%; height: auto" alt="events">
                  </div>
                  <div class="carousel-item overflow-y-hidden" style="height: 400px" data-bs-interval="3000">
                    <img src="assets/images/Banner_2.png" class="d-block w-80"
                         style="width: 100%; height: auto" alt="events">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button"
                        data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button"
                        data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
            <button class="carousel-control-prev" type="button"
                    data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button"
                    data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="col-lg-2 sidebar__right">
          <app-list-highest></app-list-highest>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Main home start***** -->
  <div class="container-fluid my-3" id="main-home-start">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-10">
        <ul class="category d-flex flex-wrap">
          <li class="category__item active me-2 mb-2" id="category__item-0" (click)="getAllProduct()">
            <div class="category_text d-flex justify-content-center align-items-center">
              <div class="label">Tất cả</div>
            </div>
          </li>
          <li *ngFor="let cate of categories" (click)="searchCategory(cate.categoryId)"  class="category__item me-2 mb-2"
              [id]="'category__item-' + cate.categoryId">
            <div class="category_text d-flex justify-content-center align-items-center">
              <div class="label">{{cate.categoryName}}</div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-4 col-sm-4 col-md-4 col-lg-2 d-flex float-end justify-content-start align-items-end">
        <form action="" [formGroup]="rfSearch" (ngSubmit)="searchProductName()">
          <div class="input-group mb-3">
            <input type="text" class="form-control py-2" placeholder="Tìm kiếm..." aria-label="search"
                   aria-describedby="basic-addon1" formControlName="productName">
            <button type="submit" class="input-group-text btn-bg-green-blue" id="basic-addon"><i
              class="text-white fa fa-search"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div *ngIf="productsMain.length === 0">
            <p style="text-align: center; font-size: 25px">Không tìm thấy sản phẩm !</p>
          </div>
          <div *ngIf="productsMain.length > 0" id="product-list-container">
            <div class="row">
              <div class="mb-4 col-2_4" *ngFor="let pro of productsMain">
                <div class="card">
                  <div class="card-body">
                    <div class="products-single fix">
                      <div class="box-img-hover">
                        <div class="type-lb">
                          <p class="sale">Sản phẩm uy tín</p>
                        </div>
                        <div style="padding-top: 100%" class="position-relative w-100">
                          <img src="{{pro.product_Img}}" class="position-absolute top-0 start-0 w-100 h-auto"
                               alt="Product image">
                        </div>
                        <div class="mask-icon">
                          <ul>
                            <li><a [routerLink]="['/products/detail', pro.product_Id]" data-toggle="tooltip"
                                   data-placement="right" title="View"><i
                              class="fas fa-eye"></i></a></li>
                          </ul>
                          <a class="cart" (click)="addToCart(pro.product_Id)" *ngIf="['ROLE_USER'].indexOf(role)!==-1">Thêm
                            vào giỏ</a>
                        </div>
                      </div>
                      <div class="why-text">
                        <h4 class="overflow-hidden text-truncate">{{pro.product_Name}}</h4>
                        <h5>{{pro.product_Price|currency:'VND'}}</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-pagination [totalPages]="totalPages" (emitCurrentPage)="changePage($event)"></app-pagination>
</div>
